@{
    ViewBag.Title = "My Registraion";
    Layout = "_VendorLayout";

}

<!--begin::Inbox App - Messages -->
<div class="d-flex flex-column flex-lg-row">
    <!--begin::Sidebar-->
    <!--end::Sidebar-->
    <!--begin::Content-->
    <div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
        <!--begin::Card-->
        <div class="card">
            <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                
                <!--begin::Actions-->
                <div class="d-flex flex-wrap gap-1">
                    <!--  <a href="/Home/Create" class="btn btn-primary">Create</a> //-->
                </div>
                <!--end::Actions-->
               
            </div>
            <div class="card-body">
                <!--begin::Table-->
                <table class="table table-row-dashed " id="role_listing">
                    <!--begin::Table head-->
                    <thead>
                        <tr>
                            <th>Company Id</th>
                            <th>Company Name</th>
                            <th>CR Number</th>
                            <th>VAT No</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="InfoTBody">
                      
                    </tbody>
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!--end::Content-->
</div>

@section scripts {

    <script>
        function GetDetails() {
            $.ajax({
                type: "POST",
                async: true,
                url: "/MyRegisteredCompany/GetList",
                data: "",
                dataType: "json",
                error: function (x, e) {
                    var msg = "";
                    if (x.status == 0) {
                        msg = 'You are offline!!\n Please Check Your Network.';
                    } else if (x.status == 404) {
                        msg = 'Requested URL not found.';
                    } else if (x.status == 500) {
                        msg = 'Internel Server Error.';
                    } else if (e == 'parsererror') {
                        msg = 'Error.\nParsing JSON Request failed.';
                    } else if (e == 'timeout') {
                        msg = 'Request Time out.';
                    } else {
                        msg = 'Unknow Error.\n' + x.responseText;
                    }

                    Swal.fire({
                        text: msg,
                        icon: "error",
                        buttonsStyling: false,
                        confirmButtonText: "Ok, got it!",
                        customClass: {
                            confirmButton: "btn btn-primary"
                        }
                    });
                },
                success: function (d) {
                    console.log(d);
                    if (d.companyName !== "undefined") {
                        var rows = "";
                        rows = rows + "<tr>";
                        rows = rows + "<td class='w-150px w-md-175px m-10'>";
                        rows = rows + d.id;
                        rows = rows + "</td>";



                        rows = rows + "<td class='w-150px w-md-175px m-10'>";
                        rows = rows + d.companyName;
                        rows = rows + "</td>";




                        rows = rows + "<td class='w-100px text-end fs-7 pe-9'>";
                        rows = rows + d.commercialRegistrationNo;
                        rows = rows + "</td>";



                        rows = rows + "<td class='w-100px text-end fs-7 pe-9'>";
                        rows = rows + d.vatNo;
                        rows = rows + "</td>";
                       
                        rows = rows + "<td class='w-100px text-end fs-7 pe-9'>";
                        rows = rows + d.email;
                        rows = rows + "</td>";

                       
                        rows = rows + "<td><a class='btn btn-sm btn-primary' href='/MyRegisteredCompany/Edit/" + d.id + "'>Edit</a></td>";
                        rows = rows + "</td>";
                        rows = rows + "</tr>";
                         
                    }
                    $('.InfoTBody').html(rows);
                }
            }).done(function () {
                $('#role_listing').DataTable();
            });
        }

        GetDetails();
    </script>
}